* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Bellota', cursive;
}

body {
    background-color: rgb(245, 245, 245);
}

.header {
    width: 100vw;
    height: 100px;
    color: #222;
    margin: 0;
    padding: 0;

    
}


#header-text {
    top: 50%;
    transform: translate(0, 50%);
    font-weight: 700;
    font-size: 48px;
    align-items: center;
    justify-content: center;

    
}

.allow-block {
    background: linear-gradient(136.11deg, #35D057 -6.16%, rgba(112, 255, 0, 0.65) 116.5%);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    color: white;
    height: 400px;
    flex-direction: column;
    position: relative;
    transition: all .4s;
}

.send-block {
    background: linear-gradient(135.47deg, #FF0000 -4.74%, rgba(255, 168, 0, 0.65) 110.72%, rgba(255, 168, 0, 0.65) 110.73%);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    color: white;
    height: 400px;
    flex-direction: column;
    position: relative;
    transition: all .4s;

}

#allow-text {
    font-size: 40px;
    position: absolute;
    top: 40px;
    width: 80%;
}

#allow-btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: white;
    color: rgb(60, 60, 60);
    border-radius: 10px;
    height: 64px;
    width: 160px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    transition: all .4s;
}

#send-text {
    font-size: 40px;
    position: absolute;
    top: 40px;
    width: 80%;
}

#send-btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: white;
    color: rgb(61, 61, 61);
    border-radius: 10px;
    height: 64px;
    width: 240px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    transition: all .4s;
}

#allow-btn:hover {
    background-color: #222;
    color: white;
}

#send-btn:hover {
    background-color: #222;
    color: white;
}

.allow-block:hover {
    transform: scale(0.96);
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
}

.send-block:hover {
    transform: scale(0.96);
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
}

.safety-block {
    position: relative;
}

#safety-text {
    position: absolute;
    font-size: 80px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .6s;
    opacity: .8;
}

#safety-text:hover {
    color: rgb(247, 80, 107);
    opacity: 1;
}

@media (max-width: 1300px) {

    #header-text {
        font-size: 80px;
    }

    #allow-text {
        font-size: 56px;
    }

    #send-text {
        font-size: 56px;
        
    }

    #send-btn {
        width: 300;
        height: 80px;
        font-size: 26px;
    }

    #allow-btn {
        width: 300px;
        height: 80px;
        font-size: 26px;
    }

    img {
        height: 400px;
        width: 400px;
    }

    #safety-text {
        margin-top: 80px;
        font-size: 72px;
        top: 50px;
    }

    .allow-block {
        height: 500px;
        margin-top: 60px !important;
    }

    .send-block {
        height: 500px;
        margin-top: 80px !important;
    }
}